<div th:fragment="sidebar" class="sidebar" id="sidebar">
  <nav class="main-nav" id="main-nav">
    <ul class="main-menu" id="main-manu">
      <li class="main-menu__item">
        <a
          th:classappend="${module == 'home' ? 'main-link--active' : ''}"
          class="main-menu__link"
          th:href="@{/}"
          th:text="#{bar.tittle.home}"
          >home</a
        >
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="main-menu__item">
        <a
          th:classappend="${(#httpServletRequest.requestURL.toString().contains('users/list')) ? 'main-link--active' : ''}"
          class="main-menu__link"
          th:href="@{/users/list}"
          th:text="#{bar.tittle.user-management}"
          >User management</a
        >
      </li>
    </ul>
  </nav>
</div>
