<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://thymeleaf.org/extras/spring-securiry"
>
  <head
    th:replace="layouts/head :: head(headtitle=#{errorPage.404.title})"
  ></head>

  <body>
    <div class="main-wrapper">
      <header th:replace="layouts/header :: header"></header>

      <div th:replace="layouts/sidebar :: sidebar"></div>

      <div class="main-content">
        <h1 class="title" th:text="#{errorPage.403.title}">Error 404</h1>
        <div class="principal">
          <div class="error-page">
            <h2
              th:text="#{errorPage.403.subtittle}"
              class="error-page__subtittle"
            >
              Pagina no encontrada
            </h2>
            <p class="error-page__text" th:text="#{errorPage.403.text}">
              Page not found
            </p>
            <a
              th:href="@{/}"
              th:text="#{errorPage.general.button}"
              class="error-page__button"
              >Go back home</a
            >
          </div>
        </div>
      </div>

      <div th:replace="layouts/scripts :: scripts"></div>
    </div>
  </body>
</html>
