.button-add {
    color: white;
    background-color: green;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.button-update-password {
    display: inline-block;

    padding: 15px;
    border-radius: 15px;
    background-color: royalblue;
    margin-top: 15px;
    margin-left: 15px;
}

.button-update-password a {
    color: white;
    text-decoration: none;
}