.table-head {
    display: flex;
    grid-template-columns: 1fr, 200px, 200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.filter {
    min-width: 300px;
    border-radius: 5px;
    border: 3px solid royalblue;
    padding: 3px;
}

.order-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-size {
    margin-right: 15px;
}