<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="layouts/head :: head(headtitle=#{password-forgot.tittle})"
  ></head>
  <title>Login Page</title>

  <body>
    <div class="login-main">
      <div class="sidenav">
        <div class="login-main-text">
          <div class="logo-login">
            <img th:src="@{/img/ss-icon.jpg}" alt="logo" />
          </div>
          <h2 th:text="#{main.title}">SEGASA</h2>
          <span th:text="#{password-forgot.tittle}">login</span>
          <p th:text="#{password-forgot.instructive}">
            Login or register from here to access.
          </p>
        </div>
      </div>
      <div class="login">
        <div class="login-form">
          <!-- Forgot password Form -->
          <form th:action="@{/forgot_password}" method="POST">
            <div class="login-messages">
              <!-- Check for login error -->
              <span
                th:if="${messageError != null}"
                class="alert-danger"
                th:text="#{forgot_password.email-incorrect}"
              >
                Invalid email</span
              >
            </div>
            <!-- email -->
            <div class="form__fields">
              <div>
                <label class="form__label" for="email" th:text="#{user.email}"
                  >Email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form__input"
                />
              </div>
              <!-- email -->

              <!-- Submit Button -->
              <div>
                <button
                  type="submit"
                  class="login__button-access"
                  th:text="#{password-forgot.button}"
                >
                  Login
                </button>
              </div>
              <!-- Submit Button -->
              <!-- Back to login -->
              <a
                th:href="@{/showMyLoginPage}"
                class="login__button-extra"
                th:text="#{password-forgot.back-login}"
                >reset</a
              >
              <!-- Back to login -->
            </div>
          </form>

          <!-- Forgot password Form -->
        </div>
      </div>
    </div>
  </body>
</html>
