<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://thymeleaf.org/extras/spring-securiry"
>
  <head th:replace="layouts/head :: head(headtitle=#{user.update-password})">
  </head>

  <body>
    <div class="main-wrapper">
      <header th:replace="layouts/header :: header"></header>

      <div class="main-content">
        <h1 class="title" th:text="#{user.update-password}">Reset password</h1>
        <div class="principal">
          <div th:if="${messageError}" class="message-error-principal">
            <span th:text="${messageError}"></span>
          </div>
          <form
            class="form"
            action="#"
            th:action="@{/reset-password}"
            method="POST"
          >
            <input type="hidden" name="token" th:value="${token}" />

            <div class="form__fields">
              <!-- Password -->
              <label
                for="password"
                th:text="#{user.password}"
                class="form__label"
                >Password</label
              >
              <input
                name="password"
                type="password"
                class="form__input"
                required
              />
              <!-- Password -->
            </div>
            <div class="form__fields">
              <!-- Repeat assword -->
              <label
                for="repeat-password"
                th:text="#{user.repeat-password}"
                class="form__label"
                >Password</label
              >
              <input
                name="repeat-password"
                type="password"
                class="form__input"
                required
              />
              <!-- Repeat assword -->
            </div>

            <!-- Register Button -->

            <button type="submit" class="form__submit">
              [[#{action.save}]]
            </button>
          </form>
        </div>
      </div>

      <div th:replace="layouts/scripts :: scripts"></div>
    </div>
  </body>
</html>
