<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://thymeleaf.org/extras/spring-securiry"
>
  <head th:replace="layouts/head :: head(headtitle=#{user.update-password})">
  </head>

  <body>
    <div class="main-wrapper">
      <header th:replace="layouts/header :: header"></header>

      <div th:replace="layouts/sidebar :: sidebar"></div>

      <div class="main-content">
        <h1 class="title" th:text="#{user.update-password}">users control</h1>
        <div class="principal">
          <!-- Place for messages: error, alert etc ... -->
          <div th:if="${messageError}" class="message-error-principal">
            <span th:text="${messageError}"></span>
          </div>
          <!-- Registration Form -->
          <form
            class="form"
            action="#"
            th:action="@{/users/save-password}"
            th:object="${user}"
            method="POST"
          >
            <input type="hidden" th:field="*{id}" />
            <div class="form__fields">
              <!-- new Password -->

              <label
                for="password"
                th:text="#{user.new-password}"
                class="form__label"
                >Password</label
              >
              <input
                name="password"
                type="password"
                th:field="*{password}"
                class="form__input"
                th:errorclass="fieldError"
                required
              />
              <!-- new Password -->
            </div>
            <div class="form__fields">
              <!-- Repeat assword -->
              <label
                for="repeat-password"
                th:text="#{user.repeat-password}"
                class="form__label"
                >Password</label
              >
              <input
                name="repeat-password"
                type="password"
                class="form__input"
                required
              />

              <!-- Repeat assword -->
            </div>

            <div class="form__fields">
              <!-- old password -->
              <label
                for="current-password"
                th:text="#{user.old-password}"
                class="form__label"
                >Password</label
              >
              <input
                name="current-password"
                type="password"
                class="form__input"
                required
              />
              <!-- old password -->
            </div>

            <!-- Register Button -->

            <button type="submit" class="form__submit">
              [[#{action.save}]]
            </button>
          </form>
        </div>
      </div>

      <div th:replace="layouts/scripts :: scripts"></div>
    </div>
  </body>
</html>
